/*NAVBAR*/

nav {
  width: 90%;
  margin: auto;
}

.nav-logo {
  width: 5em;
}

.nav-link {
  color: #050404;
  font-size:larger;
}

.nav-line {
  height: 2px;
  opacity: 100%;
  color: #050404;
  background-color: #050404;
  margin:auto;
  width: 90%;
}
