/*NAVBAR*/

nav {
  width: 90%;
  margin: auto;
}

.nav-logo {
  width: 5em;
}

.nav-link {
  color: #050404;
  font-size:larger;
}

.nav-line {
  height: 2px;
  opacity: 100%;
  color: #050404;
  background-color: #050404;
  margin:auto;
  width: 90%;
}


/*MAIN LOGO*/

.logo-div {
  padding-top: 15%;
  padding-bottom: 15%;
}

.works-div {
  color: #2D2B2B;
}

/*WORKS*/

.date-div{
  position: relative;
}

#h5-div {
  position: absolute;
  bottom: 0;
}

.button1 {
  width: 15%;
}